* {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: .5em;
}
::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
	background: white;
}
::-webkit-scrollbar-thumb:hover {
	background: #ececec;
}
body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
header {
	display: flex;
	justify-content: center;
	padding: 1.15rem 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	transform: rotate(-90deg) translateX(-50%);
	transform-origin: left top;
	top: 50%;
	left: 0;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.5rem;
	font-weight: 100;
}
header a {
	text-decoration: none;
	color: #000;
}
header a:hover {
	animation: hover-button 2s ease-in-out infinite both;
}
main h1 {
	margin: 2em 0;
	height: 33vh;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	opacity: 0;
	background-color: #fff;
	text-align: center;
}
main p#error {
	position: absolute;
	top: 33%;
	left: 50%;
	padding: 5em 0;
	transform: translate(-50%, -50%);
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	animation: appear 1s both;
	opacity: 0;
	background-color: #fff;
}
main input {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 20em;
	border-radius: .5em;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	font-size: 1em;
	text-align: left;
	border: none;
	padding: .8em .5em;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}
main input[type="search"]::-webkit-search-cancel-button {
	 display: none; 
}
main label {
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
main label::before {
	position: absolute;
	content: "";
	top: -10em;
	left: calc(50% - 1.5em);
	width: 3em;
	height: 3em;
	border: .1em solid #000;
	opacity: 1;
	border-radius: 50%;
	animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
ul {
	list-style-type: none;
	display: grid;
	padding: 8rem 0 5rem 0;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	gap: 10rem;
	text-align: center;
}
ul li {
	opacity: 0;
}
ul li button {
	display: none;
	transition: 2s;
}
ul li p {
	margin-top: 1rem;
	font-style: italic;
	transition: 1s;
}
ul li img {
	max-width: 80vw;
	max-height: 80vh;
	transition: 1s;
}
ul li img:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transform: translateY(-.5em);
	filter: brightness(1.15);
}
ul li.detail img {
	max-width: 95vw;
	max-height: 95vh;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transform: translateY(-.5em);
	filter: brightness(1.15);
}
ul li.detail button {
	display: block;
	position: absolute;
	top: -4em;
	left: calc(50% - 1.8em);
	background-color: #000;
	border: none;
	color: white;
	width: 1.8em;
	height: 1.8em;
	text-align: center;
	font-size: 1em;
	border-radius: 50%;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	cursor: pointer;
}
ul li.detail button:hover {
	animation: hover-button 2s ease-in-out infinite both;
}
ul li.detail p {
	font-size: 1.3em;
}
h1.visible {
	animation: appear 2s both;
}
li.visible {
	animation: appear2 2s both;
}
.hide {
	display: none;
}
@keyframes appear {
	0% {
		clip-path: polygon(0 0, -50% 0, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, 120% 0, 120% 120%, 0 120%);
		opacity: 1;
	}
}
@keyframes appear2 {
	0% {
		clip-path: circle(30% at 0% 0%);
		filter: grayscale(5);
	}
	25% {
		clip-path: circle(25% at 50% 50%);
	}
	50% {
		clip-path: circle(30% at 12% 84%);
		filter: grayscale(5);
	}
	75% {
		clip-path: circle(25% at 75% 51%);
	}
	100% {
		clip-path: circle(100% at 50% 50%);
		filter: grayscale(0);
		opacity: 1;
	}
}
@keyframes hover-button {
	0% {
		transform: scale(1.1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	20% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	30% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	40% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}
	50% {
		transform: scale(1.1);
		animation-timing-function: ease-out;
	}
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 880px) {
	header {
		transform: rotate(0deg) translateX(0);
		transform-origin: 0;
		top: 0;
		left: 5%;
		z-index: 0;
		position: absolute;
		justify-content: left;
	}
  }